absl-py==2.1.0
aiosignal==1.3.1
alabaster==1.0.0
appdirs==1.4.4
asttokens==2.4.1
astunparse==1.6.3
attrs==24.2.0
autograd==1.7.0
autoray==0.7.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.1.0
cachetools==5.5.0
cairocffi==1.7.1
CairoSVG==2.7.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cirq-core==1.4.1
click==8.1.7
cloudpickle==3.1.0
comm==0.2.2
commonmark==0.9.1
contourpy==1.3.0
cotengra==0.6.2
cryptography==43.0.3
cssselect2==0.7.0
cycler==0.12.1
cytoolz==1.0.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.4
docutils==0.21.2
duet==0.2.9
executing==2.1.0
fastjsonschema==2.20.0
filelock==3.16.1
flatbuffers==24.3.25
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.10.0
gast==0.6.0
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.67.0
gym==0.26.2
gym-notices==0.0.8
h5py==3.12.1
ibm-cloud-sdk-core==3.22.0
ibm-platform-services==0.57.2
idna==3.10
imagesize==1.4.1
iniconfig==2.0.0
ipython==8.29.0
ipywidgets==8.1.5
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.13
keras==3.6.0
kiwisolver==1.4.7
libclang==18.1.1
llvmlite==0.43.0
loguru==0.7.2
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.4.1
mpmath==1.3.0
msgpack==1.1.0
msgpack-numpy==0.4.8
multimethod==1.12
multiprocess==0.70.12.2
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nbsphinx==0.9.5
networkx==3.4.2
ntlm-auth==1.5.0
numba==0.60.0
numpy==1.23.5
openfermion==1.6.1
openfermionpyscf==0.5
opt_einsum==3.4.0
optree==0.13.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathos==0.2.8
pbr==6.1.0
PennyLane==0.38.0
PennyLane_Lightning==0.38.0
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
pluggy==1.5.0
ply==3.11
pox==0.3.5
ppft==1.7.6.9
prompt_toolkit==3.0.48
protobuf==4.25.5
psutil==6.1.0
ptyprocess==0.7.0
PubChemPy==1.0.4
pure_eval==0.2.3
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
pylatexenc==2.10
pyparsing==3.2.0
pyscf==2.7.0
pyspnego==0.11.1
pytest==8.3.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
qiskit==0.46.3
qiskit-aer==0.13.3
qiskit-algorithms==0.3.1
qiskit-ibm-runtime==0.20.0
qiskit-ibmq-provider==0.20.2
qiskit-nature==0.7.2
qiskit-terra==0.46.3
quimb==1.8.4
ray==2.38.0
recommonmark==0.7.1
referencing==0.35.1
requests==2.32.3
requests-ntlm==1.1.0
rich==13.9.2
rpds-py==0.20.0
rustworkx==0.15.1
scipy==1.14.1
six==1.16.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==8.1.3
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
stack-data==0.6.3
stevedore==5.3.0
symengine==0.13.0
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorcircuit==0.12.0
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
tensornetwork-ng==0.5.0
tensorpack==0.11
termcolor==2.5.0
tinycss2==1.3.0
toml==0.10.2
toolz==1.0.0
torch==2.5.0
torchdiffeq==0.2.4
torchpack==0.3.1
-e git+https://github.com/mit-han-lab/torchquantum.git@611cc2ac9d5d7490114ec4ca175c2b74e0951f38#egg=torchquantum
torchvision==0.20.0
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wrapt==1.16.0
